<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>BetaBase</title>
</head>
<body>

    <%- include('partials/navbar') %>
    
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1>Beta Base - The Rock Climbing Route Finder</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <img src="images/Screen Shot 2021-06-02 at 8.18.51 AM.png" alt="">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <p>About: This project attempts to organize rock climbing routes around the country.
                We've also added the ability to keep track of your favorite gyms for when it's hard to get outside.
            </p>
        </div>
    </div>
    
</body>
</html>

